.homeHeader {
    display: flex;
    flex-direction: column;
    margin: var(--space-md) 0 var(--space-sm);
}

.pageDescription {
    display: flex;
    flex-direction: column;
    margin-top: var(--space-md);
}