.title {
    font-size: var(--fs-xxl);
    font-weight: var(--fw-medium);
    margin: var(--space-lg) 0;
    line-height: var(--lh-base);
    color: var(--color-text-primary);
    text-align: center;
}
