.alphabet {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
}

.letter {
    padding: 4px 8px;
    border-radius: var(--radius-sm);
    font-weight: var(--fw-semibold);
    cursor: pointer;
    color: var(--color-accent);
    transition: background-color 0.2s ease, var(--transition-color);
}

.letter:hover {
    color: var(--color-accent);
    background-color: var(--color-border);
}

.active {
    color: var(--color-accent);
    background-color: var(--color-border);
}