.overlay {
    position: fixed;
    inset: 0;
    background: var(--black-overlay-strong);
    z-index: var(--z-modal);
}

.wrapper {
    position: relative;
    width: 90vw;
    height: 70vh;
}

.image {
    object-fit: contain;
}
