.container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 16px;
}

.active {
    background-color: var(--color-accent);
    color: var(--color-bg);
}
